@import '../../scss/variables.scss';

.table {

  &__subscr {
    width: 100%;
    padding: 14px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    position: relative;

    transition: background-color 0.2s;
    &:hover {
      background-color: #ffffff; 
    }

    &:hover>.table__actions>.table__btn {
      visibility: visible;
      opacity: 0.7;  
    }

    &:hover>.table__actions>.table__btn:hover {
      opacity: 1;
    }
  }

  &__edit {
    position: absolute;
    left: 200px;
  }

  &__logo {
    width: 50px;
    height: 50px;
    // padding: 9px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    >span {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 1;
      position: absolute;
    }

    >.bg {
      border-radius: 10px;
      width: 50px;
      height: 50px;
      opacity: 0.2;
      background-color: #EEEEEE;
    }
  }

  &__text {
    flex: 3;

    &.price {
      font-weight: 700;
      text-align: center;
    }

    &.date {
      text-align: right;
    }
  }

  &__actions {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__btn {
    visibility: hidden;
    width: 20px;
    height: 20px;
    opacity: 0;

    transition: opacity 0.2s;

    &.edit {
      // background-image: url('../../assets/icons/edit.svg');
      &>svg {
        width: 20px;
        height: 20px;
      }
    }

    &.delete {
      // background-image: url('../../assets/icons/delete.svg');
      &>svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}